<div class="row">
    <!--begin col-6 -->
    <div class="col-md-3 ui-sortable ui-sortable-disabled"> 
		<!--begin panel -->
        <div class="panel panel-inverse ui-sortable">
            <div class="panel-heading ui-sortable">
                <div class="panel-heading-btn ui-sortable"></div>
                <h4 class="panel-title ui-sortable"> User Lists</h4></div>
            <div class="panel-body  ui-sortable">
                <select class="form-control input-sm" id="user_id">
					<option ng-repeat="users in vm.permission_data" value= "{{users.id}}">{{users.modulename}}</option>
                </select>
            </div>
        </div>
        <!--end panel-->
    </div>
    <!-- end col-6 -->

    <!--begin col-6 -->
    <div class="col-md-9 ui-sortable ui-sortable-disabled">
        <!--begin panel -->
        <div class="panel panel-inverse ui-sortable">
            <div class="panel-heading ui-sortable">
                <div class="panel-heading-btn ui-sortable"></div>
                <h4 class="panel-title ui-sortable"> User Permission</h4></div>
            <div class="panel-body  ui-sortable">

			<div id="treeview_container" class="hummingbird-treeview">
				<ul id="treeview">
					<li>
						<i class="fa fa-plus"></i>
						<label class="{{vm.checkboxStyle}} first_child">
							<input id="xnode-0" class="styled" type="checkbox"/>
							<label for="xnode-0" class="f-w-800"> Check All </label>
						</label>

						<ul>
							<li ng-repeat="permission in vm.permission_title">
								<i class="fa fa-plus" ng-if="permission.sub_menus"></i>
								<label class="{{vm.checkboxStyle}} first_child">
									<input id="{{permission.moduleid}}" type="checkbox" ng-model="permission.selected" />
									<label for="{{permission.moduleid}}" class="f-w-800"> {{permission.displayname}} </label>
								</label>
								<ul ng-if="permission.subtitle">
									<li class="second_child" ng-repeat="permission_sub in permission.subtitle">
										<label class="{{vm.checkboxStyle}}">
											<input class="hummingbirdNoParent" id='{{permission_sub.module_id}}'
												   type="checkbox" ng-model="permission_sub.selected" />
											<label for='{{permission_sub.module_id}}'> {{permission_sub.display_name}} </label>
										</label>
									</li>
								</ul>
							</li>

						</ul>

					</li>
				</ul>
			</div>

            <button type="submit" class="{{setting.constant.button}}pull-right m-r-10" ng-click="saveData()">Submit</button>
          </div>
       </div>
        <!--end panel-->
    </div>
    <!-- end col-6 -->

</div>
